
*{
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    text-align: center;
}
#die-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#dice-wrapper{
    display: flex;
    flex-direction: row;
}
.die-adjustment{
    padding: 10px;
}
.die-adjustment input{
    position: relative;
    height: 0;
    width: 0;
}

.die-adjustment input:before{
    content: "";
    height: 25px;
    width: 50px;
    background-color: #EFEFEF;
    position: absolute;
    top: -20px;
    transition: all .3s;
    border-radius: 15px;
    left: -40px;
    border: solid 2px black;

}
.die-adjustment input:checked:before{
    content: "";
    width: 50px;
    height: 25px;
    background-color: green;
    position: absolute;
    transition: all .3s;
}
.die-adjustment input:after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    top: -16px;
    left: -35px;
    transition: all .3s;
}
.die-adjustment input:checked:after{
    content: "";
    background-color: #EFEFEF;
    left: -12px;
    transition: all .3s;
}
.die-adjustment input#bobble:checked:before{
    background-image: url(./images/Luck_bobblehead.webp);
    background-size: cover;
    background-position-x: -10px;
}
.die-adjustment label{
    padding: 10px;
    display: inline-block;
}
#die-control-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dice-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.result-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.dice-section div, .dice-section button, #results .result{
    width: 35px;
    height: 35px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    margin: 5px;
}
.drop{
    color: red;
}
.dice-section div span, .dice-section button span{
    height: fit-content;
    margin: auto;
    font-size: 22px;
}
.dice-section .d-count{
    padding: 0 5px;
}
.dice-section svg{
    position: absolute;
    opacity: .4;
}
#rollem, #reset{
    padding: 15px 25px;
}

#reset{
    margin-right: 15px;
}
#results{
    max-width: 50%;
}
#resultsDetails{
    text-align: center;
}
#results .result{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, .5);
    background-blend-mode: lighten;
}
#results span{
    height: auto;
    display: block;
    margin: auto;
}
#results .result-4{
    background-image: url(d4-dice.svg);
}
#results .result-6{
    background-image: url(d6-dice.svg);
}
#results .result-8{
    background-image: url(d8-dice.svg);
}
#results .result-10{
    background-image: url(d10-dice.svg);
}
#results .result-12{
    background-image: url(d12-dice.svg);
}
#results .result-20{
    background-image: url(d20-dice.svg);
}

@media (max-width:642px)  { 
    #die-container{
        flex-direction: column;
    }
    #results{
        max-width: 100vw;
    }
 }